.control {
  position: relative;
  display: block;
  padding-left: 19px;
  padding-bottom: 11px;
  padding-top: 10px;
  margin-bottom: 16px;
}

.control__mark {
  position: absolute;
  top: 0;
  left: -40px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: none;
}

.control__mark:hover {
  background-color: #e5e5e5;
}

.control__mark:active {
  background-color: #d5d5d5;
}

.control__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.control-input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control__mark {
  background-image: url("../img/chek-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .control {
    padding-left: 74px;
    padding-bottom: 1px;
    padding-top: 22px;
  }

  .control__mark {
    top: 12px;
    left: 13px;
  }
}

@media (min-width: 1200px) {
  .control {
    padding-left: 55px;
    padding-top: 46px;
  }

  .control__mark {
    top: 30px;
    left: -5px;
  }
}
