.main-footer__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.desinger__text {
  text-transform: uppercase;
  color: #000000;
}

.socials-list-main {
  list-style-type: none;
}

.socials-list-main__item {
  background-color: #81b3d2;
}
