.main-image-site {
  position: relative;
  background-image: url("../img/sedona-main-mobile.jpg");
  padding: 85px 19px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.main-image-site::before {
  content: "";
  background-image: url("../img/main-image-element-mobile.svg");
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 322px;
  height: 57px;
}

@media (min-width: 768px) {
  .main-image-site {
    background-image: url("../img/sedona-main-tablet.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
  }

  .main-image-site::before {
    content: "";
    background-image: url("../img/main-image-element-tablet.svg");
    position: absolute;
    bottom: -1px;
    width: 769px;
    height: 57px;
  }
}

@media (min-width: 1200px) {
  .main-image-site {
    background-image: url("../img/sedona-main-desktop.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
  }

  .main-image-site::before {
    content: "";
    background-image: url("../img/main-image-element-desktop.svg");
    position: absolute;
    bottom: -1px;
    width: 1201px;
    height: 57px;
  }
}
