.main-footer {
  padding: 38px 50px 25px;
  text-align: center;
}

.main-footer__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-footer__text {
  text-transform: uppercase;
  color: #000000;
}

.main-footer__designer {
  position: relative;
}

.main-footer__designer svg {
  position: absolute;
  top: -9px;
  right: -38px;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
