.main-image-site {
  position: relative;
  background-color: #b6d6d4;
  background-image: url("../img/sedona-mobile.jpg");
  padding: 90px 19px 79px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sedona-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.main-image-site::before {
  content: "";
  background-image: url("../img/main-image-element-mobile.svg");
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 322px;
  height: 57px;
}

@media (min-width: 768px) {
  .main-image-site {
    padding: 79px 153px 83px;
    background-color: #b6d6d4;
    background-image: url("../img/sedona-main.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sedona-main@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .main-image-site::before {
    content: "";
    background-image: url("../img/main-image-element-tablet.svg");
    position: absolute;
    bottom: -1px;
    width: 769px;
    height: 57px;
  }
}

@media (min-width: 1200px) {
  .main-image-site {
    padding: 79px 370px 83px;
  }

  .main-image-site::before {
    content: "";
    background-image: url("../img/main-image-element-desktop.svg");
    position: absolute;
    bottom: -1px;
    width: 1201px;
    height: 57px;
  }
}
