.main-image {
  position: relative;
  padding: 52px 43px 61px;
  background-color: #b6d6d4;
  background-image: url("../img/sedona-mobile.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-position: bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sedona-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.main-image::before {
  content: "";
  background-image: url("../img/main-image-element-mobile.svg");
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 322px;
  height: 57px;
}

@media (min-width: 768px) {
  .main-image {
    padding-top: 95px;
    padding-bottom: 111px;
    background-color: #b6d6d4;
    background-image: url("../img/sedona-main.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-position: bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sedona-main@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .main-image::before {
    content: "";
    background-image: url("../img/main-image-element-tablet.svg");
    position: absolute;
    bottom: -1px;
    width: 769px;
    height: 57px;
  }
}

@media (min-width: 1200px) {
  .main-image {
    padding-bottom: 122px;
  }

  .main-image::before {
    content: "";
    background-image: url("../img/main-image-element-desktop.svg");
    position: absolute;
    bottom: -1px;
    width: 1201px;
    height: 57px;
  }
}
