.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: 21%;
  z-index: 2;
}

@media (min-width: 768px) {
  .main-header__logo {
    left: 38%;
    z-index: 3;
  }
}

@media (min-width: 1200px) {
  .main-header__logo {
    left: 42%;
  }
}
