.modal-container__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.modal-container__text {
  text-transform: uppercase;
}

.modal-container__button {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 18px;
  line-height: 26px;
}
