.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-container__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.modal-container__text {
  text-align: center;
  text-transform: uppercase;
}

.modal-container__button {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .modal-container--error .modal-container__button {
    width: 272px;
  }

  .modal-container--success .modal-container__button {
    width: 458px;
  }
}
