.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item {
  text-align: center;
  background-color: #81b3d2;
}

.navigation__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .navigation__item {
    padding: 17px 24px;
    background-color: #ffffff;
  }

  .navigation__link {
    color: #000000;
  }
}
