.page-wrapper {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 320px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
