.photo {
  padding: 24px 20px;
  border-top: 1px solid #e5e5e5;
}

.photo__card {
  display: block;
  width: 100%;
}

.photo:nth-last-child(1) {
  border-bottom: 1px solid #e5e5e5;
}

.photo__content {
  margin-top: 15px;
  margin-bottom: 11px;
}

.photo__name {
  margin: 0;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.photo__like {
  display: flex;
  align-items: flex-end;
}

.photo__button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../img/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.photo__result {
  margin-left: 14px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  .photo:nth-child(1) {
    width: 100%;
  }

  .photo {
    padding: 0;
    width: 324px;
    border: none;
  }

  .photo:nth-last-child(1) {
    border: none;
  }

  .photo__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .photo:nth-child(1) {
    width: 100%;
  }

  .photo {
    position: relative;
    width: 400px;
  }

  .photo__info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
  }

  .photo__name,
  .photo__autor,
  .photo__result {
    width: 100%;
    color: #ffffff;
  }

  .photo__button {
    background-image: url("../img/like-desktop.svg");
  }
}
