.reality {
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.reality__item {
  padding: 23px 15px 22px 65px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
}

.reality__item:nth-child(1) {
  background-image: url("../img/icon-house.svg");
}

.reality__item:nth-child(2) {
  background-image: url("../img/icon-burger.svg");
}

.reality__item:nth-child(3) {
  background-image: url("../img/icon-souvenir.svg");
}

.reality__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.reality__text {
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .reality {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .reality__item {
    width: 256px;
    padding: 158px 36px 58px;
    box-sizing: border-box;
    background-position: 105px 70px;
  }

  .reality__title,
  .reality__text {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .reality__item {
    width: 400px;
    padding: 159px 58px 79px;
    box-sizing: border-box;
    background-position: 180px 70px;
  }
}
