.reality {
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.reality__item {
  padding: 31px 15px 0 66px;
  background-repeat: no-repeat;
  background-position: 17px 22px;
}

.reality__item:nth-child(1) {
  background-image: url("../img/icon-house.svg");
}

.reality__item:nth-child(2) {
  background-image: url("../img/icon-burger.svg");
}

.reality__item:nth-child(3) {
  padding-bottom: 49px;
  background-image: url("../img/icon-souvenir.svg");
}

.reality__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.reality__text {
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .reality {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .reality__item {
    width: 256px;
    padding: 158px 31px 58px;
    box-sizing: border-box;
    background-position: 89px 57px;
    background-size: 75px 74px;
  }

  .reality__item:nth-child(2) {
    padding: 158px 50px 58px;
  }

  .reality__title {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 25px;
  }

  .reality__text {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .reality__item {
    width: 400px;
    padding: 159px 58px 79px;
    background-position: 161px 56px;
  }
}
