.summary__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.summary__description {
  text-align: center;
  text-transform: uppercase;
}

.reasons__list {
  padding: 0;
  background-color: #eeeeee;
  list-style-type: none;
}

.list-main__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.list-main__number {
  text-align: center;
  text-transform: uppercase;
}

.list-main__text {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.list-main__wrapper {
  background-color: #81b3d2;
  color: #ffffff;
}

.title-wrapper {
  color: #ffffff;
}
