.reasons__list {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  list-style-type: none;
}

.reasons__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons__number {
  text-align: center;
  text-transform: uppercase;
}

.reasons__text {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.reasons__wrapper {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons__item:nth-child(1) .reasons__wrapper {
  position: relative;
  padding: 54px 16px 40px;
}

.reasons__item:nth-child(2) .reasons__wrapper {
  position: relative;
  padding: 39px 16px 35px;
}

.reasons__item:nth-child(1) .reasons__wrapper::before {
  content: "";
  background-image: url("../img/reasons-element.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 37px;
}

.reasons__title--other {
  color: #ffffff;
}

.reasons__item:nth-child(n+3) {
  padding: 25px 32px;
  box-sizing: border-box;
}

.reasons__item {
  position: relative;
}

.reasons__item:nth-child(n+4)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 18px;
  width: 284px;
  height: 1px;
  background-color: #d6d6d6;
}

@media (min-width: 768px) {
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__wrapper {
    width: 256px;
    box-sizing: border-box;
  }

  .reasons__item:nth-child(2) .reasons__wrapper {
    padding: 43px 36px 40px;
    order: 1;
  }

  .reasons__item:nth-child(1) .reasons__wrapper {
    padding: 40px 26px 43px;
  }

  .reasons__item:nth-child(2) .reasons__image {
    order: 0;
  }

  .reasons__wrapper::before {
    display: none;
  }

  .reasons__photo {
    width: 512px;
  }

  .reasons__title {
    font-size: 21px;
    line-height: 26px;
  }

  .reasons__item--other {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__item:nth-child(n+3) {
    width: 256px;
    padding-top: 41px;
    padding-bottom: 41px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .reasons__item:nth-child(n+4) {
    padding-left: 55px;
    padding-right: 55px;
  }

  .reasons__item:nth-child(n+4)::before {
    display: none;
  }
}

@media (min-width: 1200px) {
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__wrapper {
    padding: 47px 52px 56px;
    width: 400px;
    box-sizing: border-box;
  }

  .reasons__photo {
    width: 800px;
  }

  .reasons__item--other {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__item:nth-child(n+3) {
    width: 400px;
  }

  .reasons__item:nth-child(n+4) {
    padding-left: 62px;
    padding-right: 62px;
  }
}
