.reasons__list {
  padding: 0;
  background-color: #eeeeee;
  list-style-type: none;
}

.reasons__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons__number {
  text-align: center;
  text-transform: uppercase;
}

.reasons__text {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.reasons__wrapper {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons__title--other {
  color: #ffffff;
}

@media (min-width: 768px) {
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__wrapper {
    padding: 42px 47px;
    width: 256px;
    box-sizing: border-box;
  }

  .reasons__image {
    width: 512px;
  }

  .reasons__item--other {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__item:nth-child(n+3) {
    width: 256px;
  }
}

@media (min-width: 1200px) {
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__wrapper {
    padding: 42px 42px 62px;
    width: 400px;
    box-sizing: border-box;
  }

  .reasons__image {
    width: 800px;
  }

  .reasons__item--other {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__item:nth-child(n+3) {
    width: 400px;
  }
}
