.search-hotel {
  padding: 41px 18px 49px;
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel__description {
  margin: 0 auto;
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
}

.search-hotel__button {
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 284px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}

@media (min-width: 768px) {
  .search-hotel {
    padding: 61px 150px 58px;
  }

  .search-hotel__title {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .search-hotel__description {
    width: 435px;
    padding-bottom: 8px;
  }

  .search-hotel__button {
    width: 458px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .search-hotel__button:hover {
    background-color: #669ec0;
  }

  .search-hotel__button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  .search-hotel__button:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: 1200px) {
  .search-hotel {
    padding: 61px 150px 66px;
  }

  .search-hotel__description {
    padding-bottom: 10px;
  }
}
