.search-hotel__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel__description {
  text-transform: uppercase;
  text-align: center;
}

.button--search {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}
