.summary__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.summary__description {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .summary__title {
    font-size: 21px;
    margin-bottom: 31px;
  }
}

