.summary {
  padding: 32px 18px 16px;
}

.summary__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.summary__description {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .summary {
    padding: 47px 18px 55px;
  }

  .summary__title {
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .summary {
    padding: 59px 18px 44px;
  }
}
