.video {
  text-align: center;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.video__description {
  text-align: center;
  text-transform: uppercase;
}
