.video {
  padding: 17px 20px 0;
  text-align: center;
}

.video__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.video__description {
  margin: 0 auto;
  padding: 32px 10px;
  text-align: center;
  text-transform: uppercase;
}

.video__content {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .video {
    padding: 57px 60px 40px;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
  }

  .video__description {
    width: 445px;
    margin-bottom: 56px;
  }
}

@media (min-width: 1200px) {
  .video {
    padding: 61px 200px 83px;
  }

  .video__description {
    margin-bottom: 54px;
  }
}
